<?xml version="1.0"?>
<MasterServerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MasterPort>19999</MasterPort>
  <GameServerPortRange>
    <Min>20000</Min>
    <Max>20005</Max>
  </GameServerPortRange>
  <ServerListenerTick>1000</ServerListenerTick>
  <ServerInstanceTick>1000</ServerInstanceTick>
  <HeartbeatTimeout>5000</HeartbeatTimeout>
  <MinTimeHeartBeat>2500</MinTimeHeartBeat>
  <GameServerPath>/home/tim/AwsomenautsServer/GameServer/LinuxStandaloneHeadless.x86_64</GameServerPath>
</MasterServerSettings>